body {
  margin: 0;
  color: #7a7a7a;
  font-family: Montserrat;
}

header {
  border-bottom: solid 1px;
  width: 100%;
  height: 100px;
  display: flex;
  z-index: 1;
}
header nav {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 10px;
  width: 100%;
  display: flex;
  padding: 0;
  margin: 0;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
header nav .main_pages {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header nav .main_pages a {
  text-decoration: none;
  font-size: 20px;
  color: #7a7a7a;
}
header nav .main_pages a:hover, header nav .main_pages a.active {
  color: #ef51b4;
  transition: 0.5s ease-in-out;
  transform: scale(1.3);
  font-weight: bold;
}
header nav label, header nav #toggle {
  display: none;
}

@media screen and (min-width: 320px) and (max-width: 750px) {
  header nav {
    height: 80px;
  }
  header nav label {
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-size: 40px;
    cursor: pointer;
  }
  header nav #toggle:checked + .main_pages {
    display: flex;
  }
  header nav .main_pages {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 10%;
    background: #ffffff;
    border-bottom: solid 1px;
    height: 220px;
  }
  header nav .main_pages .logo {
    width: 40%;
  }
  header nav .main_pages a {
    width: 50%;
    text-align: center;
  }
}
footer {
  display: flex;
  flex-direction: column;
  background: #fd1d1d;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(150deg, #fd1d1d 0%, #96369d 100%);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(150deg, #fd1d1d 0%, #96369d 100%);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
}
footer h2 {
  text-align: center;
}
footer .contact_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-bottom: 20px;
  width: 50%;
}
footer .contact_form label {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 5px;
}
footer .contact_form input, footer .contact_form textarea {
  width: 90%;
  height: 50px;
}
footer .contact_form button {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  width: 30%;
  font-size: 20px;
}
footer .contact_form button:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: 400ms ease-in-out;
}
footer ul {
  width: 100%;
  display: flex;
  padding: 0;
  margin: 0;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
footer ul li {
  width: 30%;
  list-style: none;
  font-size: 20px;
  text-align: center;
}
footer ul li a {
  text-decoration: none;
  color: white;
}
footer ul .reseaux {
  width: 15%;
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 10px 0 10px 0;
}
footer ul .reseaux li {
  margin: 0;
}
footer ul .reseaux .fa-facebook {
  color: white;
}
footer ul .reseaux .fa-github {
  color: white;
}
footer ul .reseaux img {
  width: 60%;
  margin: 0;
}

@media screen and (min-width: 320px) and (max-width: 750px) {
  .contact_form .button {
    width: 100%;
  }

  footer ul {
    flex-direction: column;
  }
  footer ul li {
    width: 100%;
  }
  footer ul .reseaux {
    width: 100%;
    justify-content: space-around;
    margin: 10px 0 10px 0;
  }
}
#presentation {
  font-size: 25px;
}
#presentation .presentation_title {
  background: #fd1d1d;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(150deg, #fd1d1d 0%, #96369d 100%);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fd1d1d 0%, #96369d 100%);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#presentation .presentation_title h2 {
  margin-top: 15%;
  z-index: 1;
}
#presentation .vague {
  z-index: -1;
}
#presentation .presentation_texte {
  margin: -40px 0 100px 0;
  padding: 0px 20px 0 20px;
  text-align: center;
}

#techno {
  font-size: 25px;
}
#techno .techno_title {
  background: #fd1d1d;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(150deg, #fd1d1d 0%, #96369d 100%);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fd1d1d 0%, #96369d 100%);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#techno .techno_title h2 {
  margin-top: 15%;
  z-index: 1;
}
#techno .techno_box {
  display: flex;
  flex-direction: column;
  width: 100%;
}
#techno .techno_box .techno_box1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 20px;
  margin-bottom: 100px;
}
#techno .techno_box .techno_box1 .techno_box_content {
  width: 30%;
  display: flex;
  margin: 20px;
  flex-direction: column;
  align-items: center;
}
#techno .techno_box .techno_box1 .techno_box_content i {
  width: 100%;
}
#techno .techno_box .techno_box1 .techno_box_content p {
  margin: 0;
}

#projet {
  font-size: 25px;
}
#projet .projet_title {
  background: #fd1d1d;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(150deg, #fd1d1d 0%, #96369d 100%);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fd1d1d 0%, #96369d 100%);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#projet .projet_title h2 {
  margin-top: 15%;
  z-index: 1;
}
#projet .vague {
  z-index: -1;
}
#projet .projet_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
#projet .projet_box .projet_box1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 20px;
  width: 90%;
}
#projet .projet_box .projet_box1 figure {
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  padding-top: 20px;
  box-shadow: 10px 10px 20px 10px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
#projet .projet_box .projet_box1 figure img {
  height: 40%;
  object-fit: cover;
  object-position: center;
}
#projet .projet_box .projet_box1 figure figcaption {
  text-align: center;
  width: 100%;
  background-color: #fab1a0;
  background: linear-gradient(to bottom, #ee7878 20%, #e691ec 100%);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
}
#projet .projet_box .projet_box1 figure figcaption p {
  height: 50px;
  margin-bottom: 0;
}
#projet .projet_box .projet_box1 figure figcaption .projet_techno {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
#projet .projet_box .projet_box1 figure figcaption .projet_techno img {
  width: 15%;
  height: 100%;
}
#projet .projet_box .projet_box1 figure figcaption button {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background: #fd1d1d;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(150deg, #fd1d1d 0%, #96369d 100%);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(150deg, #fd1d1d 0%, #96369d 100%);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  font-size: 20px;
}
#projet .projet_box .projet_box1 figure figcaption button:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: 400ms ease-in-out;
}
#projet .projet_box .projet_box1 figure figcaption button a {
  text-decoration: none;
  color: white;
}

#contact {
  font-size: 25px;
}
#contact .contact_title {
  background: #fd1d1d;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(150deg, #fd1d1d 0%, #96369d 100%);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fd1d1d 0%, #96369d 100%);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#contact .contact_title h2 {
  margin-top: 15%;
  z-index: 1;
}
#contact .vague {
  z-index: -1;
}
#contact .contact_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-bottom: 20px;
  width: 50%;
}
#contact .contact_form label {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 5px;
}
#contact .contact_form input, #contact .contact_form textarea {
  width: 90%;
  height: 50px;
}
#contact .contact_form button {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background: #fd1d1d;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(150deg, #fd1d1d 0%, #96369d 100%);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(150deg, #fd1d1d 0%, #96369d 100%);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  font-size: 20px;
}
#contact .contact_form button:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: 400ms ease-in-out;
}

.mention-main {
  padding: 0 15px 0 15px;
}
.mention-main h2 {
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
