$color-primary: #7a7a7a;


body{
    margin: 0;
    font-family:Montserrat;
}

@mixin nav{
    width: 50%;
    display: flex;
    padding: 0;
    margin: 0;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

@mixin header-footer{
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 10px;

}

@mixin btn{
    margin:10px;
    padding: 10px;
    border-radius: 5px;
    border: solid 1px;
    border-radius: 30px;
    background-color: white;
    color: #970810;

    font-size: 20px;
    &:hover{
        cursor: pointer;
        transform: scale(1.2);
        transition: 400ms ease-in-out;
    }
}

@mixin titrefond{
    color: black;
    background-image: url("../img/banniere3.jpg");
    background-size: cover;
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    h2{
        color: white;
    }

}

