#projet{
  font-size: 25px;
  .projet_title{     
      @include titrefond;
  }
  .vague{
      z-index: -1;   
  }
  .projet_box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    .projet_box1{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        padding-bottom: 20px;
        width: 100%;
        figure{
            width: 400px;
            height: 400px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 20px;
            box-shadow: inset 0 1px 20px 4px rgba(0,0,0,0.19);
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            position: relative;
          opacity: 0;
            .logo{
              width: 400px;
              height: 400px;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: space-between;
              padding-top:20px;
              transition : opacity 2s;

              img{
                height: 40%;
                object-fit: contain;
                object-position: center;
              }
              .sass{
                background-color: white;
                border-radius: 50%;
              }
              figcaption{
                text-align: center;
                width: 100%;
                height: 45%;
                background-color:#fab1a0 ;
                background: linear-gradient(to bottom, #ee7878 20%, #e691ec 100%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                color: white;
                p{
                  height: 50px;
                  margin-bottom: 0;
                }
    
                .projet_techno{
                 display: flex;
                 justify-content: space-around;
                 width: 100%;
                  img{
                    width:15%;
                    height: 100%
                  }
                }
    
              }  
  
            }

            .site{
              width: 400px;
              height: 420px;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: space-between;
              opacity: 0;
              transition : opacity 2s;
              position: absolute;
              border-top-left-radius: 20px;
              border-top-right-radius: 20px;
              box-shadow:  0 1px 20px 4px rgba(0,0,0,0.19);

              img{
                width: 100%;
                height: 80%;
                object-fit: cover;
                object-position: top;
                border-top-left-radius: 20px;
                border-top-right-radius: 20px;

                }
                .button{
                  width: 100%;
                  height: 20%;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  background: linear-gradient(to bottom, #ee7878 20%, #e691ec 100%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                  button{
                    @include btn;
                    a{
                      text-decoration: none;
                      color: white;
                    }
                  }
  

                }
  
            }

            &:hover{
              cursor: pointer;
              .site{
                opacity: 1;
              }
              .logo{
                opacity: 0;
              }
            }
           
        }
    }
  }
  &.active{
    .projet_box{
      .projet_box1{
        figure{
          animation: visible 2s forwards
        }
      }
    }
  }
}

@keyframes visible {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
  
}
@media screen and (min-width:320px) and (max-width:750px){
  #projet{
    .projet_box{
      .projet_box1{
        figure{
          width: 100%;
          margin: 10px 0 30px 0;
          .site{
            width: 100%;
          }
          .logo{
            width: 100%;
            img{
              object-fit: contain;
              width: 80%;
            }
          }
  
        }
    
      }
    
    }
  }

}




